#scroll_button{
    transition: 0.2s;
}
#scroll_button:hover{
    background-color: #09384d;
    cursor: pointer;
}

#side_nav_selector1,#side_nav_selector2,#side_nav_selector3{
    background-color: #20749a;
    color: #09384d;
    transition: 0.2s;
}

#side_nav_selector1:hover,#side_nav_selector2:hover,#side_nav_selector3:hover{
    background-color: #09384d;
    color: #20749a;
    cursor: pointer;
}


#side_bar{
    transition: 0.5s;
    width: 265px;
    height:100%;
    background-color: #04222d;

}

#close_side{
    transition: 0.5s;
    width: 76px;
    height:100%;
    background-color: #04222d;
}


#chat_area_outer{
    width: 70vw;
    height: 100%;
    background: #08678d;
    padding: 0px 100px;
}

input:focus{
    outline: none;

}

::-webkit-scrollbar {
    display: none;
}


#submit_message{
    background-color: #ff5900;
    color: whitesmoke;
    transition: 0.2s;
}
#submit_message:hover{
    background-color: whitesmoke;
    color: #ff5900;
    cursor: pointer;
}

#image_input:hover{
    cursor: pointer;
}

#preloader-1{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -999;
    background: #08678d;
    opacity: 0;
    animation: 1s loader linear;

}
@keyframes loader {
    0%{
        opacity: 1;
        z-index: 1;

    }
    90%{
        opacity: 1;
        z-index: 1;
    }
    100%{
        opacity: 0;
        z-index: 0;
    }
}


.preloader-2{
    animation: 3s appear linear;
}
.ready_preloader{
    opacity: 0;
}

@keyframes appear {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}


.select_active{
    background: #ff5900;
}