{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pulse</title>
    <link rel="stylesheet" href="{% static 'pulse/home/css/index.css' %}">
</head>
<body style="background-color: #088395">
    <div  id="whole">
    <nav style="width: 101%;height: 70px;display: flex;color: #00FFCA;position: relative;top: -8px;background: #0A4D68;left: -8px;">
        <div style="width: 20%;height: 100%;padding: 5px;margin-left: 10px;">
            <svg xmlns="http://www.w3.org/2000/svg" style="position:relative;top: 8px;" width="40" height="40" fill="currentColor" class="bi bi-activity" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z"/>
</svg><span style="font-size: 32px;margin-left: 5px;">Pulse</span>
        </div>
        <div style="width: 50%;height: 100%;padding: 5px;display: flex;">
            <div style="padding: 16px;"><a  style="color:#00FFCA;font-size: 20px; " id="referal">Research</a></div>
            <div style="padding: 16px;"><a style="color:#00FFCA;font-size: 20px;" id="referal">Developers</a></div>
            <div style="padding: 16px;"><a style="color:#00FFCA;font-size: 20px;" id="referal">Doctors</a></div>
            <div style="padding: 16px;"><a style="color:#00FFCA;font-size: 20px;" id="referal">Policy</a></div>
            <div style="padding: 16px;"><a style="color:#00FFCA;font-size: 20px;" id="referal">Documentation</a></div>
        </div>
        <div style="width: 30%;height: 100%;display: flex;padding: 15px;justify-content: end;">
            <a style="text-decoration: none;color: #00FFCA;"><div style="width: 100px;height: 40px;margin-right: 20px" id="button_click">
                <span style="position: relative;left:26px;top:10px">Login</span>
            </div></a>
            <a style="text-decoration: none;color: #00FFCA;"><div style="width: 100px;height: 40px" id="button_click">
                <span style="position: relative;left:26px;top:10px">Sign up</span>
            </div></a>

        </div>
    </nav>
    <div style="display: flex;height: 500px;width: 100%;margin-top: 100px;padding: 20px 0px;justify-content: space-between">
        <div style="width: 50%;height: 100%;margin-left: 40px;">
            <h1 style="font-size: 80px;color:#00FFCA;margin-top: 20px;margin-bottom:0px  ">Introducing Pulse</h1>
            <p style="font-size: 30px;color:#00FFCA ">Pulse, our groundbreaking model designed to address your medical inquiries with a particular focus on identifying skin diseases, allergies, and even skin cancers. Notably, Pulse not only provides accurate diagnoses but also offers tailored medical solutions to effectively address your concerns.</p>
            <div style="display: flex">
            <div style="width: 75px;height: 25px;padding: 13px;font-size: 18px;" id="button_click">
                Try Pulse
            </div>
            <div style="margin-left: 20px;margin-top: 13px;"><a href="" style="color: #00FFCA;font-size: 20px;">Get more info</a></div>
            </div>

        </div>
        <div style="width: 50%;height: 100%;">
            <img src="{% static 'pulse/home/images/home.png' %}" alt="jb" style="width: 90%;height: 90%;margin-left: 50px;">
        </div>
    </div>
    </div>
    <div id="login_bar">
        <div style="border: 1px solid #00FFCA" id="login_bar_inner">
            <div id="signin_division">
                <h1 style="text-align: center;font-size: 40px;color: #00FFCA;margin-top: 20px;"><b>Sign In</b></h1>
                <div style="margin: 41px;width: 100%;">
                    <form action="{% url 'login' %}"  method="post">
                        {% csrf_token %}
                        <input type="text" placeholder="Username" name="username" style="width: 80%;height: 40px;border-radius: 5px;background: #088395;color: #00FFCA;border: none;padding: 4px;font-size: 15px;">
                        <input type="password" placeholder="Password" name="password" style="width: 80%;height: 40px;border-radius: 5px;background: #088395;color: #00FFCA;border: none;padding: 4px;margin-top: 40px;font-size: 15px;">
                        <h4  style="text-align: center;margin-right: 90px;" onclick="change_to(1)"><a style="color: #00FFCA">Don't have an account..</a></h4>
                        <button type="submit"  id="signin">Sign In
                        </button>
                    </form>
                </div>
            </div>
            <div id="signup_division" style="display: none">
                <h1 style="text-align: center;font-size: 40px;color: #00FFCA;margin-top: 20px;"><b>Sign Up</b></h1>
                <div style="margin: 41px;width: 100%;">
                    <form action="{% url 'signup' %}" method="post" >
                        {% csrf_token %}
                        <input type="text" placeholder="Username" name="username" style="width: 80%;height: 40px;border-radius: 5px;background: #088395;color: #00FFCA;border: none;padding: 4px;font-size: 15px;">
                        <input type="password" placeholder="Password" name="password" style="width: 80%;height: 40px;border-radius: 5px;background: #088395;color: #00FFCA;border: none;padding: 4px;margin-top: 40px;font-size: 15px;">
                        <input type="password" placeholder="Re-password" name="repassword" style="width: 80%;height: 40px;border-radius: 5px;background: #088395;color: #00FFCA;border: none;padding: 4px;margin-top: 40px;font-size: 15px;">
                        <h4  style="text-align: center;margin-right: 90px;" onclick="change_to(0)"><a style="color: #00FFCA">Already have an account..</a></h4>
                        <button type="submit"  id="signin">Sign Up
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </div>


</body>
<script>
    function change_to(n){
        if (n==1){
            let div1=document.getElementById("signin_division");
            let div2=document.getElementById("signup_division");
            div2.style.display="block"
            div1.style.display="none"
        }
        else{
            let div1=document.getElementById("signin_division");
            let div2=document.getElementById("signup_division");
            div1.style.display="block"
            div2.style.display="none"
        }
    }
</script>


</html>